In [ ]:
# importing the dependencies
import numpy as np
import pandas as pd

In [ ]:
# loading the dataset to pandas DataFrame
credit_card_data = pd.read_csv('/content/credit_data.csv')

In [ ]:
# first 5 rows of the dataframe
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

Warning: Total number of columns (31) exceeds max_columns (20) limiting to first (20) columns.

**Imbalanced Dataset:**

A dataset with an unequal class distribution

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
101100,67724,-1.616309,0.301528,2.576196,-1.383581,-1.957517,0.324467,-1.291105,1.045400,0.644268,...,0.147246,0.738228,-0.235067,0.404765,0.493298,-0.084823,0.435332,0.184834,2.00,0.0
101101,67724,1.360267,-0.436744,0.489853,0.090982,-0.815665,-0.224158,-0.495517,-0.144244,-0.560410,...,-0.487255,-0.639351,-0.067000,-0.068650,0.544523,0.439444,0.018577,0.015192,11.50,0.0
101102,67725,-0.408663,1.081556,1.574662,-0.036676,-0.040507,-0.887630,0.732968,-0.088876,-0.454404,...,-0.224136,-0.562357,-0.028645,0.377003,-0.181515,0.069876,0.268195,0.121709,2.28,0.0
101103,67725,-1.495992,0.195264,1.110646,-0.355794,0.007096,-0.284450,0.158197,0.493381,-0.058127,...,0.246418,0.475835,-0.090874,-0.378187,0.183416,0.488217,0.180731,0.027739,103.00,0.0
101104,67726,-0.736580,-0.520894,2.714887,-1.559758,-0.795662,1.006060,-0.907237,0.443974,0.407728,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# distribution of the two classes
credit_card_data['Class'].value_counts()

0.0    100880
1.0       224
Name: Class, dtype: int64

In [ ]:
# separating the legit and fraudulent transactions
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(100880, 31)
(224, 31)

Under-sampling

Build a sample dataset containing similar distribution of Legit & Fraudulent Transactionds

Number of Fraudulent Transactions --> 492

In [ ]:
legit_sample = legit.sample(n=492)

In [ ]:
print(legit_sample.shape)

(492, 31)

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
70207,53762,-1.019801,1.201034,1.168175,1.177016,0.524525,0.250382,1.722087,-0.017825,-1.796790,...,0.139729,0.245843,-0.235637,-0.004996,0.339462,-0.085490,-0.044915,0.028822,141.95,0.0
22800,32438,-0.766930,0.281679,1.375301,-1.887946,0.111898,-0.675353,0.531286,0.029261,-1.938009,...,-0.037834,-0.264910,0.067207,0.208115,-0.038243,-0.668624,0.296411,0.155492,35.00,0.0
60538,49371,-0.532312,-3.301880,1.054230,1.561095,-2.091063,2.026800,-0.574282,0.606889,1.706822,...,0.628158,0.569709,-0.757612,-0.151584,-0.075470,0.676599,-0.060938,0.147421,792.60,0.0
67773,52690,-0.651882,0.859464,2.099245,0.292407,-0.001803,-0.590875,0.477595,0.055674,-1.001330,...,-0.126557,-0.493625,-0.115711,0.528295,-0.021995,0.198552,0.019343,0.067617,1.29,0.0
81303,58876,-3.631717,2.309862,-0.798108,-1.501573,-1.218039,-0.824567,-0.870707,1.650075,0.740127,...,-0.169998,-0.085643,0.463589,0.007414,-0.018616,0.721333,-0.653086,-0.702089,0.22,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
96341,65728,1.227614,-0.668974,-0.271785,-0.589440,-0.604795,-0.350285,-0.486365,-0.010809,-0.794944,...,-0.026055,-0.295255,-0.180459,-0.436539,0.494649,-0.283738,-0.001128,0.035075,98.01,1.0
96789,65936,-3.593476,0.781442,-1.822448,0.605761,-1.194656,-0.517195,-1.722523,0.128890,0.014963,...,0.351792,0.391249,-0.252875,-0.498042,0.010172,0.909929,-1.478767,0.722673,101.50,1.0
96994,66037,0.286302,1.399345,-1.682503,3.864377,-1.185373,-0.341732,-2.539380,0.768378,-1.547882,...,0.352456,-0.243678,-0.194079,-0.172201,0.742237,0.127790,0.569731,0.291206,7.53,1.0
99506,67150,-1.824295,0.403327,-1.994122,2.756558,-3.139064,0.408185,-1.209045,1.095634,-1.447225,...,0.838760,0.341727,0.947506,-0.145493,0.049326,0.831065,0.332421,0.252713,489.71,1.0
100623,67571,-0.758469,-0.045410,-0.168438,-1.313275,-1.901763,0.739433,3.071892,-0.483422,0.618203,...,0.042619,0.397224,0.072229,-0.242276,0.560916,-0.540955,0.150606,-0.117140,549.06,1.0

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0    224
Name: Class, dtype: int64