# importing libraries

In [48]:
import pandas as pd
import numpy as np

### Load the mercedes bens dataset for demonstration, only the categorical variables

In [49]:
data=pd.read_csv("F:\\Data Science\\Git hub projects\\One Hot encoding for multi categorical variables\\mercedesbenz.csv",usecols=['X1','X2','X3','X4','X5','X6'])

In [50]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

### Let's have a look at how many labels each variable has

In [51]:
for col in data.columns:
    print(col,':',len(data[col].unique()),'labels')

X1 : 27 labels
X2 : 45 labels
X3 : 7 labels
X4 : 4 labels
X5 : 32 labels
X6 : 12 labels

### Let's examine how many columns we will obtain after one hot encoding these variables

In [52]:
pd.get_dummies(data,drop_first=True).shape

(4209, 121)

### Let's find the top 10 most frequent categories for the variable X2

In [53]:
data.X2.value_counts().sort_values(ascending=False).head(20)

as    1658
ae     478
ai     462
m      348
ak     260
r      155
n      113
s      100
f       85
e       84
ay      78
aq      72
a       44
b       38
t       25
k       25
ag      23
ac      20
ao      19
i       15
Name: X2, dtype: int64

### Let's make a list with the most frequent categories of the variable

In [56]:
top_10=[x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]

In [57]:
top_10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

### we make the 10 binary variables

In [58]:
for label in top_10:
    data[label]=np.where(data['X2']==label,1,0)
data[['X2']+top_10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0    n   0   0   0  0   0  0  1  0  0  0
1   ai   0   0   1  0   0  0  0  0  0  0
2   as   1   0   0  0   0  0  0  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4   as   1   0   0  0   0  0  0  0  0  0
5   ai   0   0   1  0   0  0  0  0  0  0
6   ae   0   1   0  0   0  0  0  0  0  0
7   ae   0   1   0  0   0  0  0  0  0  0
8    s   0   0   0  0   0  0  0  1  0  0
9   as   1   0   0  0   0  0  0  0  0  0
10   s   0   0   0  0   0  0  0  1  0  0
11   b   0   0   0  0   0  0  0  0  0  0
12   e   0   0   0  0   0  0  0  0  0  1
13  ae   0   1   0  0   0  0  0  0  0  0
14  ak   0   0   0  0   1  0  0  0  0  0
15   e   0   0   0  0   0  0  0  0  0  1
16   s   0   0   0  0   0  0  0  1  0  0
17   e   0   0   0  0   0  0  0  0  0  1
18  ai   0   0   1  0   0  0  0  0  0  0
19  as   1   0   0  0   0  0  0  0  0  0
20   e   0   0   0  0   0  0  0  0  0  1
21   e   0   0   0  0   0  0  0  0  0  1
22  ai   0   0   1  0   0  0  0  0  0  0
23   e   0   0   0  0   0  0  0  0  0  1
24  ai   0   0   1  0   0  0  0  0  0  0
25   s   0   0   0  0   0  0  0  1  0  0
26   m   0   0   0  1   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28   m   0   0   0  1   0  0  0  0  0  0
29  as   1   0   0  0   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32  as   1   0   0  0   0  0  0  0  0  0
33   a   0   0   0  0   0  0  0  0  0  0
34  aq   0   0   0  0   0  0  0  0  0  0
35  as   1   0   0  0   0  0  0  0  0  0
36  ae   0   1   0  0   0  0  0  0  0  0
37  ak   0   0   0  0   1  0  0  0  0  0
38  ag   0   0   0  0   0  0  0  0  0  0
39  ae   0   1   0  0   0  0  0  0  0  0

In [72]:
# get whole set of dummy variables,for all the categorical variables
def one_hot_top_x(df,variable,top_x_labels):
    #function to create the dummy variables for the most frequent lables
    # we can vary the number of most frequent labels that we can encode
    for label in top_x_labels:
        df[variable+'_'+label]=np.where(data[variable]==label, 1, 0)

In [73]:
 # read the data again
data=pd.read_csv("F:\\Data Science\\Git hub projects\\One Hot encoding for multi categorical variables\\mercedesbenz.csv",usecols=['X1','X2','X3','X4','X5','X6'])

In [74]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

In [75]:
#encode X2 into the 10 most frequent categories
one_hot_top_x(data,'X1',top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_l,X1_b,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,n,f,d,t,a,0,0,0,0,1,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,0,1,0,0,0,0,0,0
2,v,as,f,d,a,j,0,0,0,0,1,0,0,0,0,0
3,l,n,f,d,z,l,0,0,1,0,0,0,0,0,0,0
4,s,as,c,d,y,i,0,1,0,0,0,0,0,0,0,0

In [76]:
# find the 10 most frequent ategories for X1
top_10=[x for x in data.X1.value_counts().sort_values(ascending=False).head(10).index]

# now create the 10 most frequent dummy cariables for X1
one_hot_top_x(data,'X1',top_10)
data.head()

,X1,X2,X3,X4,X5,X6,X1_aa,X1_s,X1_l,X1_b,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,n,f,d,t,a,0,0,0,0,1,0,0,0,0,0
1,b,ai,a,d,b,g,0,0,0,1,0,0,0,0,0,0
2,v,as,f,d,a,j,0,0,0,0,1,0,0,0,0,0
3,l,n,f,d,z,l,0,0,1,0,0,0,0,0,0,0
4,s,as,c,d,y,i,0,1,0,0,0,0,0,0,0,0